.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.diff {
  color: #4f8bc9;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
  margin: 2px;
}

.enjoy {
  color: #ffb212;
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
  margin: 2px;
}

 


